{% extends "section.twig" %}

{% block section_content %}
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-20 gap-y-6">
  {% for item in items %}
    <a href="{{ service_page_url }}" class="flex items-center gap-4">
      <div class="flex items-center justify-center w-16 h-16 rounded-full min-w-16 bg-eee-lime-100">
        {% include "image/template.twig" with {
          image: item.icon,
          width: 24,
          allowed_sizes: ["xs"]
        } %}
      </div>
      <p>{{ item.text }}</p>
    </a>
    {% endfor %}
</div>

{% endblock %}
