<div id="search-form" class="hidden fixed top-0 left-0 w-full h-full bg-eee-thunderstorm-blue-100 z-[99999]">
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[80%] mx-auto h-fit">
    <div class="flex">
      <form action="/" method="get" >
        <input class="w-full text-4xl bg-transparent appearance-none lg:text-8xl text-eee-neutral-100 focus:outline-none" type="text" name="s" placeholder="Search here">
      </form>
      <svg id="search-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-14 lg:size-28">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </div>
  </div>
</div>